@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Alata', sans-serif; */
* {
  @apply m-0 p-0  box-border;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @apply m-0 p-0;
}

body {
  @apply text-black;
  background-color: rgb(241, 246, 253);
}
.Atlata {
  font-family: "Alata", sans-serif;
}
.blue-common {
  color: rgb(47, 103, 221, 1);
}

/* typography */

/* heading */
.h2 {
  @apply text-[28px] leading-normal font-light tracking-normal;
}
.h3 {
  @apply text-[26.3px] leading-normal font-medium tracking-normal;
}
.h4 {
  @apply text-[24px] leading-normal font-medium tracking-normal;
}
.h5 {
  @apply text-[22px] leading-[31.79px] font-light tracking-normal;
}
.h6 {
  @apply text-[20px] leading-[22px] font-normal tracking-normal;
}

/*paragraphs*/

.p-small {
  @apply text-[16px] leading-[46px] font-light tracking-normal;
}

.p-medium {
  @apply text-[15.057px] leading-normal font-normal tracking-normal;
}

.p-large {
  @apply text-[14px] leading-normal font-light tracking-normal;
}

.p-xlarge {
  @apply text-[12px] leading-normal font-light tracking-normal;
}

/* comman style */

/* buttomn */
